{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdmin 3' %}

{% block main %}


    <div class="row mt-4">

        <div class="col-6 col-xl-3 pb-4">
            <div class="bg-light border p-3 d-flex flex-wrap">
                <p class="w-100 border-bottom pb-2 px-1 fw-bold">Posts</p>
                <div class="d-flex px-3 w-100">
                    <span class="display-3 me-auto fw-bolder">{{ posts|length }}</span>
                    <i class="fa fa-file-alt display-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-3 pb-4">
            <div class="bg-light border p-3 d-flex flex-wrap">
                <p class="w-100 border-bottom pb-2 px-1 fw-bold">Posts views</p>
                <div class="d-flex px-3 w-100">
                    {% set views = 0 %}
                    {% for post in posts %}
                        {% set views = views + post.views %}
                    {% endfor %}
                    <span class="display-3 me-auto fw-bolder">{{ views }}</span>
                    <i class="fa fa-eye display-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-3 pb-4">
            <div class="bg-light border p-3">
                <p class="w-100 border-bottom pb-2 px-1 fw-bold">Categories</p>
                <div class="d-flex px-3 w-100">
                    <span class="display-3 me-auto fw-bolder">{{ categories|length }}</span>
                    <i class="fa fa-list-alt display-3 text-secondary"></i>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-3 pb-4">
            <div class="bg-light border p-3 d-flex flex-wrap">
                <p class="w-100 border-bottom pb-2 px-1 fw-bold">Users</p>
                <div class="d-flex px-3 w-100">
                    <span class="display-3 me-auto fw-bolder">{{ users|length }}</span>
                    <i class="fa fa-user display-3 text-secondary"></i>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
