

<h1>
    {% include 'post/_partials/_thumbnail.html.twig' with {'class': 'er-img'} %} 
    {{ post.title }}
</h1>

<div class="wk_post_article p-3">

    <div class="wk_post_desc">
        
        {% if post.content %}
            {{ post.content|raw }}
        {% endif %}

    </div>

</div>

